//数字运算

/*加 +、减 -、乘 *、除 /和取模 %），并且，如果需要的话，也可以在不同单位间做转换*/
.operation {
  width: 1in + 8pt;
  content: 10px/8px;             // 纯 CSS，不是除法运算,可以用括号包起来
  $width: 1000px;
  width: $width/2;            // 使用了变量，是除法运算
  width: round(1.5)/2;        // 使用了函数(四舍五入)，是除法运算
  height: (500px/2);          // 使用了圆括号，是除法运算
  margin-left: 5px + 8px/2px; // 使用了加（+）号，是除法运算
  $font-size: 12px;
  $line-height: 30px;
  font: $font-size/$line-height;
  font: #{$font-size}/#{$line-height};//使用变量时使用/
}


//让icon图标的background-position的y轴值按20px递增。
$list: twitter,facebook,github,weibo;

@for $i from 1 through length($list){
  .icon-#{nth($list,$i)}{
    background-postion: 0 -20px * $i;
  }
}
